
.container {
    width: 100%;
    height: max(40vw, 300px);
}

.row {
    height: 100%;
}

.col {
    height: 100%;
}

.block {}

.carousel_item {
    margin-top: 10%;
    height:max(20vw, 230px );  
}
.carousel_box{
   margin-bottom: 10px;
   font-size:max(1.6vw, 14px) ;
 
}

.carousel_box_last{
   display: flex;
   justify-content: center;
}

.carousel_span {
    display: inline-block;
    margin: 0px 5px;
}

.carousel_big{
    display: inline-block;
    white-space: nowrap;
   font-size: max(5vw, 28px);
   font-weight: 900;
}
.carousel_title{
    font-size: 2em;
    font-weight: 700;
}

.carousel_image{
    height:min(100%, 50vw) ;
    object-fit: cover;
    position: relative;
    right: -10%;
    top: -20%;
}
.link{
    color: white;
    text-decoration: none;
    padding: 1.2em 0;
}
.link:hover{
    color: white;  
}

@media(max-width:1439px) {
    .carousel_title {
           
        }
}
