.container {
    min-width: 100vw;
    position: relative;
    z-index: 0;
}

.row { 
}

.col {   
}

.block {}

.carousel_item {
    height: max(40vw, 300px);
}

.carousel_box { 
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.548);
}

.carousel_title {
    color: rgb(63, 54, 54);
    font-size:max(22px, 3vw);
    font-weight: 700;
}

.carousel_text {
    max-width:  100%;
    display: inline-block;
    margin: 0px 5px;
    font-size: max(14px, 2vw);
    font-weight: 500;
    font-style: italic;
    color: rgb(179, 19, 19); 
}

.carousel_image {
    width: 100%;
    height: 100%;
    object-fit:contain;
    background: rgba(0, 0, 0, 0.616);
}



