* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.bar_box_tool {
  width: 70%;
}

.tool_bar_box {
  width: 100%;
  height: max(52vw, 405px);
  position: relative;
}

.tool_bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 100px;
  padding: 0px 7vw;
  box-shadow: inset 2px 2px 15px 2px rgb(221, 223, 228);
  background: rgba(221, 223, 228, 0.452);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.bar_icon {
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation-name: icon_rotate;
          animation-name: icon_rotate;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.bar_icon img {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes icon_rotate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes icon_rotate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.bar_tel {
  color: rgb(230, 89, 89);
  font-weight: 600;
  font-style: italic;
  margin: 35px 6px;
  letter-spacing: 2px;
  font-size: 1.4vw;
  white-space: nowrap;
}

.bar_tool {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.2em;
}
.bar_tool * {
  margin: 0px 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.bar_tool_burger {
  display: none;
}

.left_bar_conteiner {
  position: fixed;
  top: 0px;
  left: -250px;
  z-index: 3;
  width: 300px;
  height: 100%;
  overflow: auto;
  padding-right: 50px;
  border-radius: 20px;
  box-shadow: inset 2px 2px 15px 2px rgb(228, 221, 228);
  background: white;
  transition-duration: 0.4s;
}

.left_bar_conteiner:hover {
  transform: translateX(250px);
  transition-duration: 0.4s;
}

.left_bar_box {
  width: 250px;
  height: 100%;
  padding: 50px 0px;
  box-shadow: inset 2px 2px 15px 2px rgb(221, 223, 228);
  background: white;
}

.left_bar_item {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left_bar_imag {
  width: 30%;
  height: 100%;
  padding-left: 10px;
}
.left_bar_imag img {
  height: 100%;
}

.left_bar_text {
  font-size: medium;
  margin-left: 5px;
}

@media (max-width: 1067px) {
  .left_bar_conteiner {
    width: 280px;
  }
  .left_bar_box {
    width: 220px;
  }
  .bar_tel {
    font-size: 0.8em;
    font-weight: 700;
  }
  .bar_tool {
    position: fixed;
    top: 0px;
    right: -100%;
    background: rgb(212, 83, 9);
    max-width: 50%;
    min-width: 200px;
    min-height: 100vh;
    padding: 90px 0px 0px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
  }
  .bar_tool * {
    margin-top: 30px;
    color: white;
  }
  .bar_tool_closed .bar_tool {
    -webkit-animation-name: closed_animashion;
            animation-name: closed_animashion;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes closed_animashion {
    0% {
      right: 0%;
    }
    100% {
      right: -65%;
    }
  }
  @keyframes closed_animashion {
    0% {
      right: 0%;
    }
    100% {
      right: -65%;
    }
  }
  .bar_box_tool {
    width: 42px;
    height: 42px;
    position: relative;
    top: 30px;
  }
  .bar_tool_burger {
    display: block;
    width: 40px;
    height: 4px;
    position: absolute;
    top: 15px;
    right: -7px;
    z-index: 2;
    border-radius: 2px;
    background: rgb(68, 65, 65);
  }
  .bar_tool_burger::after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    top: -10px;
    right: 0px;
    z-index: 2;
    border-radius: 2px;
    background: rgb(68, 65, 65);
    transition-duration: 0.5s;
  }
  .bar_tool_burger::before {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 2;
    border-radius: 2px;
    background: rgb(68, 65, 65);
    transition-duration: 0.5s;
  }
  .bar_box_tool_active .bar_tool {
    background: rgb(68, 65, 65);
    -webkit-animation-name: white_animashion;
            animation-name: white_animashion;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes white_animashion {
    0% {
      right: -100%;
    }
    12% {
      right: -89%;
    }
    24% {
      right: -56%;
    }
    36% {
      right: -2%;
    }
    54% {
      right: -25%;
    }
    74% {
      right: -2%;
    }
    82% {
      right: -6%;
    }
    92% {
      right: -1%;
    }
    100% {
      right: 0%;
    }
  }
  @keyframes white_animashion {
    0% {
      right: -100%;
    }
    12% {
      right: -89%;
    }
    24% {
      right: -56%;
    }
    36% {
      right: -2%;
    }
    54% {
      right: -25%;
    }
    74% {
      right: -2%;
    }
    82% {
      right: -6%;
    }
    92% {
      right: -1%;
    }
    100% {
      right: 0%;
    }
  }
  .bar_box_tool_active .menu__burger {
    width: 0px;
    background: white;
  }
  .bar_box_tool_active .bar_tool_burger {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 44px;
    right: 4.4%;
    background: rgba(255, 255, 255, 0);
  }
  .bar_box_tool_active .bar_tool_burger:after {
    width: 40px;
    top: 0px;
    left: 0px;
    transform: rotate(-45deg);
    background: white;
  }
  .bar_box_tool_active .bar_tool_burger:before {
    width: 40px;
    top: 0px;
    left: 0px;
    transform: rotate(45deg);
    background: white;
  }
}
#root {
  position: relative;
  z-index: -3;
}

.App {
  min-width: 100%;
  position: relative;
  z-index: -3;
}

body {
  position: relative;
  z-index: -3;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  z-index: -3;
  flex-direction: column;
}

.content {
  max-width: 1445px;
  min-height: 100%;
  margin: 35px auto;
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
}

.info_for_conteiner {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  margin: 0px 10px;
  text-align: center;
  font-style: italic;
}

.title {
  width: 70%;
  margin: auto;
  padding: 20px 0px;
  line-height: 1.5em;
  font-size: 26px;
  font-weight: 800;
}

.header_background {
  width: 100%;
  height: max(40vw, 300px);
  position: absolute;
  top: 100px;
  left: 0px;
  z-index: 0;
  background: url(/src/img/header-background.jpg) no-repeat;
  background-size: 100% 120%;
  transition-duration: 3.5s;
}

.body_furniture_item {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;
}
.body_furniture_item a {
  width: max(250px, 30%);
  height: 30%;
  margin: 10px;
}

.furniture_item {
  width: 100%;
  height: 30%;
  box-shadow: 2px 2px 15px 12px rgb(221, 223, 228);
  background: rgb(243, 238, 238);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  padding-bottom: 20%;
  transition-duration: 1.5s;
}
.furniture_item img {
  width: 100%;
  height: 100%;
  transition-duration: 1.5s;
}

.furniture_item:hover img {
  transform: scale(1.2, 1.2);
}

.furniture_item_title {
  width: auto;
  height: 30px;
  padding: 5px;
  border-radius: 7px;
  background: rgba(0, 0, 0, 0.466);
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 22px;
  font-weight: 900;
  color: white;
}

.furniture_item_price {
  width: auto;
  height: 30px;
  padding: 5px;
  background: rgba(255, 0, 0, 0.699);
  border-radius: 7px;
  position: absolute;
  top: 60px;
  left: 50px;
  font-size: 22px;
  font-weight: 900;
  color: white;
}

.footer {
  width: 100%;
  height: auto;
  background: rgb(240, 241, 243);
  padding: 10px 50px;
}

.conteiner_footer > div {
  max-width: 25%;
  min-width: 300px;
  height: 100%;
  padding: 10px 30px;
}

.conteiner_footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info_for {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}
.info_for a {
  color: black;
  text-decoration: none;
}
.info_for a:hover {
  color: black;
}

.social_block {
  margin: 15px 0px;
}

.social_network_icon {
  width: 60px;
  height: 40px;
  border-radius: 6px;
  overflow: hidden;
  display: inline-block;
  margin: 0px 7px 0px 0px;
}
.social_network_icon img {
  width: 100%;
}

.vk {
  background: rgb(69, 56, 252);
}
.vk img {
  -o-object-position: 0px -211px;
     object-position: 0px -211px;
}

.ok {
  background: rgb(223, 172, 79);
}
.ok img {
  -o-object-position: 0px -324px;
     object-position: 0px -324px;
}

.tg {
  background: rgb(9, 199, 247);
}
.tg img {
  -o-object-position: 0px -265px;
     object-position: 0px -265px;
}

.wa {
  background: rgb(9, 199, 247);
}
.wa img {
  -o-object-position: 0px -3px;
     object-position: 0px -3px;
}

.social_maill {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-style: italic;
}
.social_maill img {
  margin-right: 15px;
}

.carts_money img {
  width: 40%;
  height: 50px;
  padding: 8px 6px;
  margin: 7px 7px 0px 0px;
  border: 1px solid rgb(51, 50, 50);
  border-radius: 6px;
  background: white;
}

.carts_icon {
  margin-top: 10px;
}

.requesites {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.requesites h2 {
  padding: 30px 0px;
}

.reviews_conteiner {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
  padding-top: 10%;
  transition-duration: 1.5s;
}
.reviews_conteiner a {
  display: contents;
}

.reviews_item {
  min-width: 280px;
  max-width: 30%;
  max-height: 200px;
  box-shadow: 0px 0px 13px 3px rgb(51, 50, 50);
  margin: 5px 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.reviews_item_image {
  width: 30%;
  height: 100%;
  margin: 0px 10px;
}
.reviews_item_image img {
  width: 100%;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

.reviews_item_text {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.reviews_item_span {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 5px;
}

.reviews_name {
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: 600;
}

.reviews_text {
  display: inline-block;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.new_reviews {
  margin: 20px 0px;
  text-align: center;
}

.start {
  padding: 0px;
  opacity: 1;
  transform: skewY(0deg);
}

.message {
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.message_text {
  margin-top: 20px;
  line-height: 25px;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.message_list {
  margin-top: 20px;
  font-size: 22px;
}
.message_list li:first-child {
  margin-top: 20px;
}
.message_list li {
  line-height: 25px;
  font-size: 18px;
  font-style: italic;
}

a:hover {
  transform: scale(1.1, 1.1) translateX(10px);
  color: red;
}

.awards {
  display: flex;
  flex-direction: row;
  margin: 50px 0px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.awards_item {
  height: 150px;
  margin: 20px 10px;
  text-align: center;
}
.awards_item img {
  height: 100%;
}

@media (max-width: 1067px) {
  .content {
    margin: 35px 10px 10px 15px;
  }
  .header_background {
    background-size: cover;
  }
  .title {
    font-size: 1em;
    font-style: oblique;
    font-weight: 600;
  }
  /*
     .left_bar_conteiner{
       width: 280px;
       }

     .left_bar_box{
          width: 220px;
       }


   .bar_tel{
        font-size: 0.8em;
        font-weight: 700;
      }

    .bar_tool{ 
        position: fixed;
          top: 0px;
          right: -100%;
          background: rgb(212, 83, 9);
          max-width: 50%;
          min-width:200px;
          min-height: 100vh;
          padding: 90px 0px 0px;
          flex-direction: column;
          justify-content: left;
          align-items: center;     
         *{
            margin-top: 30px;
            color: white; 
         }  
       }

       .bar_tool_closed{
            .bar_tool{
              animation-name: closed_animashion; 
             animation-duration: 0.7s;
             animation-timing-function: ease-in-out;
             animation-iteration-count: 1;
             animation-direction: normal;
             animation-fill-mode: forwards;
             }
       }

       @keyframes closed_animashion {
             0% {
               right: 0%;
             }
             100% {
               right:-65%;
             }
           }


     .bar_box_tool{
          width: 42px;
          height: 42px;
          position: relative;
          top: 30px; 
      }

     .bar_tool_burger{
         display: block;
         width: 40px;
         height: 4px;
         position: absolute;
         top: 15px;
         right: -7px;
         z-index: 2;
         border-radius: 2px;
         background: rgb(68, 65, 65);

      }

      .bar_tool_burger::after{
           content: "";
         width: 40px;
         height: 4px;
         position: absolute;
         top: -10px;
         right: 0px;
         z-index: 2;
         border-radius: 2px;
         background: rgb(68, 65, 65);
         transition-duration: 0.5s;
      }

      .bar_tool_burger::before{
            content: "";
         width: 40px;
         height: 4px;
         position: absolute;
         top: 10px;
         right: 0px; 
         z-index: 2;
         border-radius: 2px;
         background: rgb(68, 65, 65);
         transition-duration: 0.5s;
      }

    .bar_box_tool_active{
       .bar_tool {        
              background: rgb(68, 65, 65);          
              animation-name: white_animashion; 
              animation-duration: 1.5s;
              animation-timing-function: ease-in-out;
              animation-iteration-count: 1;
              animation-direction: normal;
              animation-fill-mode: forwards; 
         }
       @keyframes white_animashion {
             0% {
               right: -100%;
             }
             12% {
               right: -89%;
             }
             24% {
               right: -56%;
             }
             36% {
               right: -2%;
             }
             54% {
               right: -25%;
             }
             74% {
               right: -2%;
             }
             82% {
               right: -6%;
             }
             92% {
               right: -1%;
             } 
             100% {
               right:-0%;
             }
         }
      .menu__burger{
           width:0px;
           background: white;
         }    
      .bar_tool_burger{       
              width: 45px;
              height: 45px;
              position: fixed;
              top: 44px;
              right: 4.4%;
              background: rgba(255, 255, 255, 0);           
         }
      .bar_tool_burger:after{
              width: 40px;
              top: 0px;
              left: 0px;
              transform: rotate(-45deg); 
              background: white; 
         }
      .bar_tool_burger:before{
              width: 40px;
              top: 0px;
              left: 0px;
              transform: rotate(45deg);
              background: white;        
         } 
      }
  */
  .reviews_item {
    max-width: 45%;
  }
}
@media (max-width: 767px) {
  .reviews_item {
    max-width: 90%;
  }
}